@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<section class="blog single-blog section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <article class="single-post">
                    <h2>Donec id dolor in erat imperdiet.</h2>
                    <ul class="list-inline">
                        <li class="list-inline-item">by <a href="">Admin</a></li>
                        <li class="list-inline-item">Nov 22, 2016</li>
                    </ul>
                    <img src="~/images/blog/post-4.jpg" alt="article-01">
                    <h3 class="tab-title">Description</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt  labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip.ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                    <h3 class="tab-title">Details</h3>
                    <table class="table table-bordered product-table">
                        <tbody>
                            <tr>
                                <td>Address</td>
                                <td>Yeşil Mahallesi - Nazilli / Aydin</td>
                            </tr>
                            <tr>
                                <td>Lose Date</td>
                                <td>22 December 2021</td>
                            </tr>
                            <tr>
                                <td>Tags</td>
                                <td>Rewarded</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>Not Found</td>
                            </tr>
                            <tr>
                                <td>Condition</td>
                                <td>Used</td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>Cat</td>
                            </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-primary">I know where is it</button>
                </article>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="block comment">
                        <h4>Leave A Comment</h4>
                        <form action="#">
                            <!-- Message -->
                            <div class="form-group mb-30">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="message" rows="8"></textarea>
                            </div>
                            <button class="btn btn-transparent">Leave Comment</button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="block comment">
                        Login to add comment.
                    </div>
                        }
                    </div>
                </div>
    </div>
</section>